  <!-- JS local (defer evita “flash” e melhora carregamento) -->
  <script defer src="{{ url_for('static', filename='js/flash_messages.js') }}"></script>

  <!-- JS global estritamente compartilhado -->
  {% if session.usuario_logado %}
    <script defer src="{{ url_for('static', filename='js/status_online.js') }}"></script>
  {% endif %}

  {% if request.endpoint == 'logs_view' %}
    <script defer src="{{ url_for('static', filename='js/logs_table.js') }}"></script>
  {% endif %}

</body>
</html>
