{% include 'includes/head.html' %}
{% if session.usuario_logado %}
  {% include 'includes/navbar.html' %}
{% endif %}
<body>
  <div class="form-wrapper">
    <div class="form-box">
      <h2>Atualizar userType de 1 técnico</h2>
      <form method="post">
        <label for="resource_id">ID do Recurso:</label><br>
        <input type="text" name="resource_id" required><br>

        <label for="user_type">Novo userType:</label><br>
        <select name="user_type" required>
          {% for tipo in tipos_user %}
            <option value="{{ tipo.codigo }}">{{ tipo.descricao }}</option>
          {% endfor %}
        </select>
<br>

        <button type="submit">Atualizar</button>
      </form>

      <div style="text-align: center; margin-top: 20px;">
        <a href="{{ request.referrer or url_for('home') }}" style="color: #00aaff;">Voltar</a>
      </div>
    </div>
  </div>
</body>
{% include 'includes/footer.html' %}
