{% include 'includes/head.html' %}
{% if session.usuario_logado %}
  {% include 'includes/navbar.html' %}
{% endif %}

<body>
  <div class="container">
    <h2 style="text-align:center;">Lista de Usuários OFS</h2>
    <p class="tabela-container"><strong>Total de usuários ativos:</strong> {{ total_ativos }}</p>

    <div class="tabela-container">
        <table id="usuariosTable" class="tabela-usuarios display">
            <thead>
                <tr>
                <th>Nome</th>
                <th>UserType</th>
                <th>XU_CODE_SAP</th>
                <th>Status</th>
                <th>Login</th>
                <th>Last Login</th>
                </tr>
                <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in usuarios %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.userType if user.userType else '-' }}</td>
                    <td>{{ user.code_sap }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.lastLoginTime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div style="text-align:center; margin-top:20px;">
      <a href="{{ url_for('home') }}" class="btn-voltar">Voltar</a>
    </div>
  </div>
</body>

{% include 'includes/footer.html' %}
